    .attribution { font-size: clamp(0.625rem, 1.5vw, 0.87rem); text-align: center; margin-block-start: 25px; }
    .attribution a { color: hsl(228, 45%, 44%); }
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
    body{
      margin: 0;
      padding: 0;
      height: 100vh;
      background-color: hsl(212, 45%, 89%);
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }
    .container{
      text-align: center;
      background-color: white;
      max-width: 21.25rem;
      width: 100%;
      height: 530px;
      border-radius: 20px;
    }
    img{
      border-radius: 20px;
      width: 310px;
      height: 310px;
      margin-block-start: 15px;      
      position: relative;
    }
    h1{
      font-size: 1.5rem;
      padding: 0 40px;
      font-family: "Outfit", sans-serif;
    }
    p{
      font-size: 1rem;
      padding: 0 40px;
      font-family: "Outfit", sans-serif;
      color: hsl(216, 15%, 48%);
    }